@charset "utf-8";
/* 
* Arquivo responsável pelo núcleo do sistema
*/

body {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
    background-color: #cae2fd;
}

#centralizar {
    margin:0 auto;
    width:980px;
    height:auto;
}

#topo {
    margin:0 auto;
    width:100%;
    height:auto;
    padding: 15px 10px 10px 10px; 
}

#menu {
    margin:0 auto;
    width:100%;
    height:auto;
    padding: 3px 10px 3px 10px; 

    color: white;    
    font-family: Times;
    font-size: 18px;
    font-stretch: condensed;

    border: solid thin #000;
    border-bottom: none;
    background-image: url('../img/menu.png');
    background-repeat: repeat-x;
}

#main {
    
}

#nav {
    margin:0 auto;
    width:100%;
    height:auto;
    padding: 3px 10px 3px 10px; 
    
    background-color: #fafafa;
    border: solid thin #000;
    
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.linkBrco {
    color: white;
    text-decoration: underline;
}

.linkBrco:hover {
    color: yellow;
    text-decoration: underline;
}

.imgBorda {
    border: none;
}

#mens {
    visibility: hidden;
    margin:0 auto;
    margin-top: 5px;
    padding-top: 10px;
    width: 80%;
    height: auto;
    min-height: 30px;
    float: left;
    left: 10%;
    position: absolute;
    z-index: 9999;
    text-align: center;
}