@charset "utf-8";
/* CSS Document */

ul.menu-topo {
    list-style:none;
    margin:0px;
    padding:0px;
}

ul.menu-topo li {
    float:left;
    color:#FFF;
    padding-left: 10px;
    padding-right: 10px;
    margin:0px;
    font-family: Arial, 'HelveticaCondensedRegular' ;
    font-size:13px;
    font-weight:bold;
    cursor:pointer;
}

ul.menu-topo li ul {
    display:none;
    z-index:11;
    position:absolute;
    list-style:none;
    padding:0px;
    margin:0px 0px 0px 0px;
    border:1px solid #8d8d8d;
}

ul.menu-topo li:hover ul, ul.menu-topo li:hover ul li {
    display:block;
}

ul.menu-topo li ul li {
    display:block;
    float:none;
    margin:0px;
    padding:5px;
    color:#335697;
    background:url(../img/bgsubmenu.png);
    border-bottom:1px dotted #ddd;
}

ul.menu-topo li ul li:hover {
    background:url(../img/bgsubmenuHover.png);
}
